*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    padding: 1%;
    background-color: rgba(236,236,227,255);
}

#contenedor{
    height: 100%;
    width: 100%;
}

header{
    height: 20%;
    width: 100%;
    background-color: black;
    color: rgba(220,188,59,255);
    font-size: 2rem;
    padding-left: 1%;
    padding-top: 1.4%;
}

h1{
    font-weight: normal;
}

.cuerpo{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

section{
    height: 100%;
    width: 20%;
    padding-left: 3%;
    padding-top: 2%;
    background-color: rgba(153,153,153,255);
    font-size: 2rem;
}

li{
    color: rgba(220,188,59,255);
}

a{
    text-decoration: none;
    color: blue;
}

aside{
    height: 100%;
    width: 80%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    background-color: rgba(221,221,221,255);
}

h2{
    font-size: 2.2rem;
    color: blue;
}

p{
    font-size: 0.95rem;
}

#imagen{
    height: 45%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

figcaption{
    font-size: 0.95rem;
}

footer{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(187,187,187,255);
}